body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #d52b1e; /* rojo estilo McDonald's */
    margin-bottom: 5px;
}

.subtitulo {
    color: #555;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #d52b1e;
    padding-bottom: 5px;
}

p {
    color: #555;
    line-height: 1.5;
}

.section {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.datos {
    margin-bottom: 20px;
}

.datos span {
    font-weight: bold;
}